@{
    var usuario = (Usuario)Model;
}

<body class="registro">
    <div class="tm-section tm-bg-img" id="tm-section-1">
        <div class="container text-md-center">
            <div class="row justify-content-center pt-5 mt-5 mr-1">
                <div class="col-md-4 formulario">
                    <form action="/auth/register" method="post">
                        <div class="form-group text-center">
                            <br />
                            <h3 class="titulo">Registrate </h3>
                        </div>
                        <div class="form-group mx-sm-4 ">
                            <input type="text" value="@usuario.nombreUsuario" name="nombreUsuario" class="form-control" placeholder="Nombre" />
                            <span class="messageerror">@Html.ValidationMessage("nombreUsuario")</span>
                        </div>
                        <div class="form-group mx-sm-4 pt-4">
                            <input type="text" value="@usuario.apellidoUsuario" name="apellidoUsuario" class="form-control" placeholder="Apellidos" />
                            <span class="messageerror">@Html.ValidationMessage("apellidoUsuario")</span>
                        </div>
                        <div class="form-group mx-sm-4 pt-4">
                            <input type="text" value="@usuario.correoUsuario" name="correoUsuario" class="form-control" placeholder="Correo" />
                            <span class="messageerror">@Html.ValidationMessage("correoUsuario")</span>
                        </div>
                        <div class="form-group mx-sm-4 pt-4">
                            <input type="password" value="@usuario.contraseñaUsuario" name="contraseñaUsuario" class="form-control" placeholder="Contraseña" />
                            <span class="messageerror">@Html.ValidationMessage("contraseñaUsuario")</span>
                        </div>
                        <div class="form-group mx-sm-4 pt-4">
                            <input type="password" name="verContraseñaUsuario" class="form-control" placeholder="Verfificar Contraseña" />
                            <span class="messageerror">@Html.ValidationMessage("verContraseñaUsuario")</span>
                        </div>
                        <div class="form-group mx-sm-4 pb-1">
                            <input type="submit" class="btn btn-block registrara" value="Registrarse" />
                        </div>
                        <div _ngcontent-c6="" class="external-login ng-star-inserted">

                            <!--Facebook Boton-->
                            <div class="fb-login-button" data-size="large" data-button-type="continue_with"
                                 data-layout="default" data-auto-logout-link="false" data-use-continue-as="false"
                                 data-width="">
                            </div>
                        </div>
                        <br />
                    </form>
                    <form action="/auth/login" method="get">
                        <div class="form-group text-center text-light">
                            <span class="a">¿Ya tienes cuenta?</span>
                            <button _ngcontent-c7="" class="btn btn-primary boton" tabindex="0">Entrar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

